<header class="header js-header">
		<div class="header__wrap">
			<div class="header__logo">
				<a href="\">
					<img class="logo" src="../../images/Little-Beginnings-Childcare-Update-Logo-2018.png" alt="">
					<img class="image-desktop" src="../../images/LIT_Header_Image.jpg" alt="">
				</a>
				
				<div class="header__logo-right">
	        <span class="menu-bars">
	          <span class="menu-bars__row"></span>
	          <span class="menu-bars__row"></span>
	          <span class="menu-bars__row"></span>
	        </span>
	      </div>  
			</div>

			<div class="header__menu">
				<ul class="main-menu">
					<li class="menu-item bg--red"><a href="#">About</a></li>
					<li class="menu-item bg--orange"><a href="#">Rooms</a></li>
					<li class="menu-item bg--yellow"><a href="#">Curriculum</a></li>
					<li class="menu-item bg--green"><a href="#">Health & Wellbeing</a></li>
					<li class="menu-item bg--blue"><a href="#">Location</a></li>
					<li class="menu-item bg--light-blue"><a href="#">Contact</a></li>
					<li class="menu-item bg--red"><a href="#">Book a Tour</a></li>
				</ul>
			</div>

			<div class="header__menu-mobile">
				<ul class="main-menu--mobile">
					<li class="menu-item bg--red"><a href="#">About</a></li>
					<li class="menu-item bg--orange"><a href="#">Rooms</a></li>
					<li class="menu-item bg--yellow"><a href="#">Curriculum</a></li>
					<li class="menu-item bg--green"><a href="#">Health & Wellbeing</a></li>
					<li class="menu-item bg--blue"><a href="#">Location</a></li>
					<li class="menu-item bg--light-blue"><a href="#">Contact</a></li>
					<li class="menu-item btn bg--red"><a href="#">Book a Tour</a></li>
					<li class="menu-item btn bg--blue"><a href="#">Enrol now</a></li>
				</ul>
			</div>
		</div>
</header>
