.box-grid-icon-text {
	padding: 30px 0;

	@media only screen and (min-width: 992px) {
    padding: 60px 0 70px;
  }

	&__wrap {
		display: flex;
		flex-wrap: wrap;

		@media only screen and (max-width: 991px) {
			overflow-x: scroll;
			flex-wrap: nowrap;
		}
	}

	&__item {
		background: $white;
		padding: 25px 20px 15px 19px;
		margin-right: 20px;
		min-width: 279px;
		text-align: left;
		box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.15);

		@media only screen and (min-width: 992px) {
			width: calc((100% - 19px) / 2);
			margin-right: 18px;
			padding: 25px 26px 15px 32px;
			min-width: inherit;
			margin-bottom: 20px;

			&:nth-of-type(2n) {
				margin-right: 0;
			}
		}

		@media only screen and (min-width: 1280px) {
			width: calc((100% - 55px) / 4);
			margin-bottom: 0;

			&:nth-of-type(2n) {
				margin-right: 18px;
			}

			&:nth-of-type(4n) {
				margin-right: 0;
			}
		}
	}

	.btn {
		min-width: 230px;

		@media only screen and (max-width: 991px) {
			width: 100%;
		}
	}

	&__description {
		margin-bottom: 30px;
		color: $white;

		@media only screen and (max-width: 767px) {
			text-align: left;
		}
	}

	&__link {
		margin-bottom: 31px;

		@media only screen and (min-width: 992px) {
			margin-bottom: 61px;
		}
	}

	&__title {
		margin-bottom: 20px;

		@media only screen and (min-width: 992px) {
			margin-bottom: 27px;
		}
	}

	&__image {
		margin-bottom: 19.5px;

		@media only screen and (min-width: 992px) {
			margin-bottom: 18.5px;
		}
	}

	&__content {
		color: $text-color;
	}
}