<div class="form enrol-form">
  <h5 class="form__title enrol-now text--light-blue btn js-show-form">Enrol Now</h5>
  <div class="form__wrap form-enrol">
    <div class="form__form">
      <h4 class="text--light-blue">Enrol Now</h4>
      <span class="form-bars enrol-bars js-close-form">
        <span class="form-bars__row"></span>
        <span class="form-bars__row"></span>
      </span>
      <div class="form__form--content">
        <form action="" method="post" class="wpcf7-form" novalidate="novalidate">
          <div class="form__form--group">
            <div class="form-item form-type-textfield form-item-parent-name">
              <span class="wpcf7-form-control-wrap parentname"><input type="text" name="parentname" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required form-text" aria-required="true" aria-invalid="false" placeholder="Parent’s Name*"></span>
            </div>
            <div class="form-item form-type-textfield form-item-child-name">
              <span class="wpcf7-form-control-wrap childname"><input type="text" name="childname" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required form-text" aria-required="true" aria-invalid="false" placeholder="Child’s Name*"></span>
            </div>
            <div class="form-item form-type-textfield form-item-phone">
              <span class="wpcf7-form-control-wrap phone"><input type="tel" name="phone" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-tel wpcf7-validates-as-required wpcf7-validates-as-tel form-text" aria-required="true" aria-invalid="false" placeholder="Phone Number*"></span>
            </div>
            <div class="form-item form-type-email form-item-email">
              <span class="wpcf7-form-control-wrap email"><input type="email" name="email" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email form-email" aria-required="true" aria-invalid="false" placeholder="Email*"></span>
            </div>
            <div class="form-item form-type-textarea form-item-message">
              <span class="wpcf7-form-control-wrap message"><textarea name="message" cols="40" rows="5" class="wpcf7-form-control wpcf7-textarea form-textarea" aria-invalid="false" placeholder="Message (e.g.: Child’s age, days required…)"></textarea></span>
            </div>
            <div class="form-item form-type-textfield form-item-captcha">
              <span class="wpcf7-form-control-wrap captcha"><label><span class="wpcf7-quiz-label">What is the first letter of beginnings?*</span> <input type="text" name="captcha" size="40" class="wpcf7-form-control wpcf7-quiz form-text" autocomplete="off" aria-required="true" aria-invalid="false" placeholder="What is the first letter of beginnings?*"></label><input type="hidden" name="_wpcf7_quiz_answer_captcha" value="e6b8657d6a6c4cca3f137cb2450c16f7"></span>
            </div>
            <div class="form-actions webform-actions form-wrapper" id="edit-actions">
              <input type="submit" value="Submit" class="wpcf7-form-control wpcf7-submit btn btn--light-blue"><span class="ajax-loader"></span>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="back-top js-back-top">
  <img src="">
</div>