<div class="box-contact bg--light-blue">
	<div class="container">
		<h2 class="section-title text--center text--white">Contact Us</h2>

		<div class="box-contact__wrap">
			<div class="box-contact__left">
				<div class="box-contact__image">
					<img src="../../images/LIT_Contact.jpg" alt="">
				</div>

				<div class="box-contact__body">
					<div class="box-contact__content">
						<p class="text--bold">Phone</p>
						<p>03 9558 5999</p>
					</div>

					<div class="box-contact__content">
						<p class="text--bold">Email</p>
						<p>enquiries@littlebeginningschildcare.com.au</p>
					</div>

					<div class="box-contact__content">
						<p class="text--bold">Book a tour at our centre</p>
						<p>574 Springvale Road, Springvale South 3172</p>
					</div>
				</div>

				<div class="box-contact__link">
					<a href="" class="btn btn--red js-anchor" dataid="book-a-tour">BOOK A TOUR</a>
					<a href="" class="btn btn--blue js-anchor" dataid="enquire-now">ENQUIRE NOW</a>
					<a href="" class="btn btn--light-blue js-anchor" dataid="enrol-now">ENROL NOW</a>
				</div>
			</div>

			<div class="box-contact__right">
				<h4 class="box-contact__title">Enquire</h4>

				<form action="">
          <div class="form-list">
            <div class="form-item">
              <input type="text" placeholder="Full name*">
            </div>
            <div class="form-item">
              <input type="email" placeholder="Email*">
            </div>
            <div class="form-item">
              <input type="tel" placeholder="Phone Number*">
            </div>
          </div>

          <div class="form-list">
            <div class="form-item">
              <textarea type="text" placeholder="Message (e.g.: Child’s age, days required…)"></textarea>
            </div>
            <div class="form-item">
              <input type="text" placeholder="What is the first letter of Skillinvest?*">
            </div>
          </div>

          <div class="form-actions">
            <input type="submit" value="submit" class="btn btn--light-blue btn--large">
          </div>
        </form>
			</div>
		</div>
	</div>
</div>
