<div class="layout-2cols bg--yellow">
	<div class="container">
		<h2 class="section-title text--center text--white">Our Curriculum</h2>

		<div class="layout-2cols__wrap">
			<div class="layout-2cols__content-left">
				<div class="layout-2cols__description text--large text--has-border">
					<p>Our curriculum is based on the Early Years Framework and National Quality Framework and is Interest, strength-based learning which is the foundation of our programs. As a parent, you will enjoy seeing your child’s individuality, talents and confidence grow as a result of attending Little Beginnings.</p>
				</div>

				<div class="layout-2cols__content">
					<p>These early years are so critical — we have a focus on identifying, nurturing and celebrating your child’s individuality. We use a program called <a href="https://app.storypark.com/users/sign_in?_ga=2.60940780.138329562.1559091097-1423327388.1559091097">Storypark</a> where families can view their child’s progress and be interactive in sharing wonderful holidays or other information directly with the educators. We also offer transition reports for our children moving from Kinder to School.</p>
					<p>By employing an approach where the interests and strengths of the child guides their education journey our centre can help to build your child’s confidence, independence and social skills in preparation for their future.</p>
					<p>We offer different experiences, lessons and programs to bring learning to life in the form of numeracy, literacy, group time, public speaking, name writing, computer skills and music and dancing, along with special educational programs and activities, such as chicken hatching and visits from animal experts and other educators.</p>
					<p class="text--bold">Contact our team today or book a tour to learn more about our curriculum, services and facilities.</p>
				</div>
			</div>

			<div class="layout-2cols__content-right">
				<div class="col-item has-btn">
					<img src="../../images/VICGOV_EDUCATION_LOGO_GOV_BLUE_CMYK.jpg" alt="">

					<a href="https://www.education.vic.gov.au/childhood/professionals/learning/Pages/default.aspx" class="btn btn--light-blue btn--large">learn more</a>
				</div>

				<div class="col-item">
					<img src="../../images/LIT_OurCurriculum.jpg" alt="">
				</div>
			</div>
		</div>
	</div>
</div>