<div class="layout-2cols layout-2cols--image-text bg--red">
	<div class="container">
		<h2 class="section-title text--center text--white">About Little Beginnings</h2>

		<div class="layout-2cols__wrap">
			<div class="layout-2cols__content-left">
				<div class="col-item">
					<img src="../../images/LIT_About-01.jpg" alt="">
				</div>

				<div class="col-item">
					<img src="../../images/LIT_About-02.jpg" alt="">

					<div class="col-item__text">
						<p>Our team of educators enjoying a cultural day at Little Beginnings ELC.</p>
					</div>
				</div>

				<div class="col-item">
					<img src="../../images/LIT_About-03.jpg" alt="">

					<div class="col-item__text">
						<p>Our valued educators enjoying a cultural <br> event in the local Springvale community.</p>
					</div>
				</div>
			</div>

			<div class="layout-2cols__content-right">
				<div class="layout-2cols__description text--large text--has-border">
					<p>Little Beginnings is a family owned business, dedicated to providing the highest quality care for children, families and our local community in Springvale and it’s surrounds. We employ staff with passion, experience and enthusiasm.</p>
				</div>

				<div class="layout-2cols__content">
					<p>Our management team has over 20 years of experience in providing high quality care for children and assisting families during their time at little beginnings. The team in multilingual with some translation services available in Vietnamese, Mandarin, Cantonese, Thai, Cambodian, Korean and Sri-Lankan. </p>
					<p>We are located in Springvale South and have been providing childcare and a fully funded kinder program for over 10 years.</p>
				</div>

				<div class="layout-2cols__list">
					<div class="layout-2cols__item">
						<h3>Our Mission Statement</h3>
						<p>Little Beginnings strives to provide a safe, hygienic and welcoming environment that will encourage play and developmental learning.</p>
						<p>We follow an interest, strength-based learning curriculum to encourage your child’s natural curiosity, skills and talents, acknowledging that all children in our care are competent learners.</p>
						<p>We promote resilience and a sense of belonging, self-worth, secure attachments and warm and trusting relationships and interactions. We promote communication and problem solving skills together with social, cultural learning and awareness, and the capacity to express and acknowledge their feelings.</p>
						<p>We create opportunities for children to practice independent skills and encourage children’s autonomy.</p>
						<p>We provide nutritious meals and educated about healthy, diet, exercise and lifestyle. We promote the children’s wellbeing and encourage them to develop their sense of empathy to begin to fit into the community.</p>
						<p>Ask our friendly team how we can cater to your child’s individual needs. Building a rapport and connection with the parents and families of the children in our care is key to ensuring your child reaches their full potential.</p>
						<p><b>Contact us today with any questions you may have about our centre, or it’s suitability for your child.</b></p>
					</div>

					<div class="layout-2cols__item">
						<h3>Educators</h3>
						<p>Our educators are passionate about providing the best possible early education and care for each individual child that attends Little Beginnings.</p>
						<p>Our multilingual educators speak Chinese, Vietnamese, Mandarin, Cantonese, Thai, Cambodian, Korean and Sri-Lankan to support a seamless transition for all children and families in our local community.</p>
						<p>We are an inclusive, open and friendly centre, and we strive to make your experience as seamless, comfortable and enjoyable as we possibly can.</p>
					</div>

					<div class="layout-2cols__item">
						<h3>Recruitment</h3>
						<p>Recruiting the right Educators to match our centre is of utmost importance to us. If you or someone you know would like to apply to work with our team, please email us at<br>enquiries@littlebeginningschildcare.com.au with your cover letter and CV highlighting relevant experience and/or training. Alternatively, you can call and speak with Lisa about any employment opportunities.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
