<div class="layout-2cols layout-2cols--image-left bg--green">
	<div class="container">
		<h2 class="section-title text--center text--white">Health & Wellbeing</h2>

		<div class="layout-2cols__wrap">
			<div class="layout-2cols__content-left">
				<div class="col-item">
					<img src="../../images/LIT_HealthWelling.jpg" alt="">
				</div>
			</div>

			<div class="layout-2cols__content-right">
				<div class="layout-2cols__description text--large text--has-border">
					<p>At Little Beginnings, we know that nutrition is vital to your child’s growth and development. We have an onsite cook preparing fresh meals daily, along with snacks designed to be both tasty and nutritious! </p>
				</div>

				<div class="layout-2cols__content">
					<p>We prepare culturally diverse meals and have a focus on catering for a range or dietary requirements, allergies and other considerations. This includes:</p>
					<ul>
						<li>On-site cook preparing fresh meals daily</li>
						<li>Nutritious meals and alternating meal plans</li>
						<li>Halal, vegetarian and vegan meals, where required</li>
						<li>Morning tea, lunch, afternoon tea, late snack</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
