<div class="layout-2cols layout-2cols--with-link" id="my-header">
	<div class="col-item margin-bottom image-mobile">
		<img src="../../images/LIT_LeadStatement.jpg" alt="">
	</div>
	<div class="container">
		<div class="layout-2cols__wrap">
			<div class="layout-2cols__content-left">
				<h1 class="section-title h2">Welcome to Little Beginnings Early Learning Centre</h1>

				<div class="layout-2cols__description text--large text--has-border">
					<p>We are a non-franchised, family-owned early learning centre celebrating each child’s unique journey, from little beginnings and onwards. Our newly renovated purpose-built centre is home to large indoor and outdoor play areas, with daily experiences suited for all ages throughout the centre.</p>
				</div>

				<div class="layout-2cols__content">
					<p>We value every child’s abilities, interests and needs as we strive to extend their knowledge and skills. Employing only highly qualified early childcare educators, inclusive of an in-house cook to prepare fresh meals daily. Our team is focused on providing the highest quality care for your family.</p>
					<p>Our centre can provide ‘the start of a wonderful journey though childhood’ for you and your child.</p>
					<p><b>Contact our team today, or view more information about Little Beginnings Early Learning Centre below…</b></p>
				</div>

				<div class="layout-2cols__link">
					<a href="" class="btn btn--red js-anchor" dataid="book-a-tour">BOOK A TOUR</a>
					<a href="" class="btn btn--blue js-anchor" dataid="enquire-now">ENQUIRE NOW</a>
					<a href="" class="btn btn--light-blue js-anchor" dataid="enrol-now">ENROL NOW</a>
				</div>
			</div>

			<div class="layout-2cols__content-right">
				<div class="col-item margin-bottom image-desktop">
					<img src="../../images/LIT_LeadStatement.jpg" alt="">
				</div>

				<div class="col-item">
					<iframe id="uvindexwidget" src="https://www.sunsmart.com.au/uvalert/default.asp?locationid=161" width="170" height="300" frameborder="0" scrolling="no" style="padding:0; margin: 0px; overflow:hidden;" allowtransparency="true"></iframe></textarea>
				</div>
			</div>
		</div>
	</div>
</div>