.header {
  @media only screen and (max-width: 991px) {
    background: -webkit-linear-gradient(left, #bfe8f9 0%, #bfe8f9 0%, #9fd8ef 50%, #9fd8ef 98%, #9fd8ef 100%, #2ab0ed 100%, #e4f5fc 100%, #2ab0ed 100%, #bfe8f9 100%, #9fd8ef 100%, #e4f5fc 100%, #9fd8ef 100%);
    background: -o-linear-gradient(left, #bfe8f9 0%, #bfe8f9 0%, #9fd8ef 50%, #9fd8ef 98%, #9fd8ef 100%, #2ab0ed 100%, #e4f5fc 100%, #2ab0ed 100%, #bfe8f9 100%, #9fd8ef 100%, #e4f5fc 100%, #9fd8ef 100%);
    background: linear-gradient(to right, #bfe8f9 0%, #bfe8f9 0%, #9fd8ef 50%, #9fd8ef 98%, #9fd8ef 100%, #2ab0ed 100%, #e4f5fc 100%, #2ab0ed 100%, #bfe8f9 100%, #9fd8ef 100%, #e4f5fc 100%, #9fd8ef 100%); /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */ /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    position: fixed;
    z-index: 10;
    width: 100%;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  }

  & > .container {
    @media only screen and (min-width: 992px) {
      margin: 0;
      width: 100%;
      max-width: 100%;
    }
  }

  &__logo {
    line-height: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media only screen and (min-width: $tablet) {
      position: relative;
    }

    @media only screen and (min-width: 992px) {
      box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
      height: 175px;
      position: relative;
      overflow: hidden;
    }

    @media only screen and (min-width: 1440px) {
      height: 215px;
    }

    

    @media only screen and (max-width: 991px) {
      a {
        img {
          padding: 10px 0;
          max-width: 250px;
        }
      }

      &--right {
        width: 50%;
      }
    }

    .logo {
      @media only screen and (min-width: 992px) {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
      }

      @media only screen and (max-width: 359px) {
        max-width: 200px !important;
      }
    }

    .image-desktop {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      height: 100%;
      width: auto;
      max-width: inherit;

      @media only screen and (max-width: 991px) {
        display: none;
      }
    }
  }

  &__logo-right {
    @media only screen and (max-width: 991px) {
      padding: 0 20px;
      background: $white;
      border-radius: 20px;
      height: 41px;
    }
  }

  &__menu {
    @extend .bg--red;
    position: relative;
    z-index: 3;

    ul {
      padding: 0;
      width: 100%;
      margin-bottom: 0;

      @media only screen and (min-width: 992px) {
        display: flex;
        justify-content: space-between;
      }
    }

    @media only screen and (max-width: 991px) {
      display: none;
    }

    .menu-item {
      text-align: center;

      @media only screen and (min-width: 992px) {
        width: 100%;
      }

      a {
        font-size: 16px;
        color: $white;
        display: inline-block;
        padding: 10px 5px;
        width: 100%;

        @media(min-width: 992px) {
          font-size: 14px;
          letter-spacing: -.2px;
        }

        @media(min-width: 1025px) {
          font-size: 15px;
        }

        @media(min-width: 1280px) {
          font-size: 16px;
          letter-spacing: 0;
        }
      }
    }
  }

  &__logo-right-mobile {
    margin-top: 10px;
  }

  &__menu-mobile {
    width: 100%;
    background: #fff;
    box-sizing: border-box;
    left: -100%;
    top: 0px;
    transform: scale(0.5);
    transform-origin: 0 0 0;
    transition: left 0.5s;
    overflow: hidden;
    color: $white;
    padding: 0px;
    overflow-y: auto;
    position: fixed;
    bottom: 0;
    padding-bottom: 30px;

    ul {
      position: relative;
      overflow-y: auto;
      padding: 0;
      text-align: center;

      .menu-item {
        a {
          color: $white;
          font-weight: 700;
          font-size: 21px;
          line-height: 1.1428;
          display: inline-block;
          padding: 18px 15px 19px;
          width: 100%;

          @media only screen and (min-width: 992px) {
            padding: 14px 15px 12px;
          }
        }

        &.btn.bg--light-blue,
        &.btn.bg--red {
          width: 90%;

          a {
            font-weight: 400;
            font-size: 18px;
            line-height: 1.3333;
            padding: 0;
          }
        }

        &.btn.bg--light-blue {
          border-color: $light-blue;

          &:hover {
            background: $white;
            color: $light-blue;

            a {
              color: $light-blue;
            }
          }
        }

        &.btn.bg--red {
          margin: 30px 0 20px;
          border-color: $red;

          &:hover {
            background: $white;
            
            a {
              color: $red;
            }
          }
        }
      }
    }

    @media only screen and (min-width: 992px) {
      display: none;
    }
  }

  li {
    list-style-type: none;
  }

  &__menu-mobile {
    &__wrap {
      height: 60px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0 5%;
    }
  }

  .back-to-top {
    color: $blue;
    font-weight: 700;
    cursor: pointer;

    i {
      font-style: normal;
      font-size: 22px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;

      span {
        margin-left: 13px;
        font-size: 14px;
        margin-top: 5px;
      }
    }
  }
}

body.show_mobile_menu {
  .header__menu-mobile {
    transform: translate(100%, 0px);
    z-index: 9999;
  }
}

// body.is-show_mobile_menu {
//   .header__menu-mobile{
//     transform: translate(0, 0px);
//     z-index: 9999;
//   }
// }

.menu-bars {
  width: 24px;
  display: inline-block;
  margin-top: 10px;
  cursor: pointer;

  @media only screen and (min-width: 992px) {
    display: none;
  }

  &__row {
    display: block;
    background: $blue;
    height: 3px;
    transition: .2s;

    &~& {
      margin-top: 6px;
    }
  }
}

.menu-bars-mobile {
  width: 24px;
  display: inline-block;
  margin-right: 5px;
  margin-top: 7px;

  .menu-bars__row-mobile {
    background: $blue;
    display: block;
    height: 2px;

    &:nth-child(1) {
      height: 3px;
      width: 26px;
      transform: translateY(-3px) rotate(-45deg);
    }

    &:nth-child(2) {
      opacity: 0;
    }

    &:nth-child(3) {
      height: 3px;
      width: 26px;
      transform: translateY(-8px) rotate(45deg)
    }
  }
}