// LAYOUT
// This is the main layout file.
// This file should be used to define the primary page layout that each of the page types will be extending.
// This includes global styles for html, body, etc.

@viewport{
  zoom: 1;
  width: extend-to-zoom;
}

@-ms-viewport{
  width: extend-to-zoom;
  zoom: 1;
}

//Enable font-smoothing
html {
  @include rubik;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: $text-color;
  font-size: $base-font-size; // Don't modify static unit.
  font-smoothing: antialiased;
  font-weight: 400;
  line-height: 1.3;

  @media only screen and (min-width: 992px) {
    line-height: $base-line-height;
  }
}

body {
  // Disable in production mode;
  // @include show-breakpoints;
  text-size-adjust: none;
}

main {
  padding: 40px 0;
  box-sizing: border-box;

  @media(max-width: 991px) {
    min-height: calc(100vh - 90px) !important;
    padding-top: 110px;
  }
}

.page-template-page-component {
  main {
    padding: 0;

    @media(max-width: 991px) {
      padding-top: 77px;
    }

    @media(max-width: 359px) {
      padding-top: 65px;
    }
  }
}

.page-template-page-basic-php {
  .main-wrap {
    font-size: 30px;
    color: $blue;
    text-align: center;
  }
}

.error404 {
  text-align: center;
}

// #uvindexwidget {
//   background: #3788c8; /* Old browsers */
//   background: -moz-linear-gradient(top, #3788c8 0%, #025b99 100%); /* FF3.6-15 */
//   background: -webkit-linear-gradient(top, #3788c8 0%,#025b99 100%); /* Chrome10-25,Safari5.1-6 */
//   background: linear-gradient(to bottom, #3788c8 0%,#025b99 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
// }