<div class="box-grid-icon-text bg--orange text--white text--center">
	<div class="container">
		<h2 class="section-title">Our Rooms</h2>

		<div class="box-grid-icon-text__description text--large">
			<p>Enquire today to speak with a member of our team about booking a tour of Little Beginnings Early Learning Centre. Explore our facilities, speak with our qualified early childhood educators and decide if Little Beginnings is the right place for your child.</p>
		</div>

		<div class="box-grid-icon-text__link">
			<a href="#" class="btn js-anchor" dataid="enquire-now">Enquire now</a>
		</div>

		<div class="box-grid-icon-text__wrap">
			<div class="box-grid-icon-text__item">
				<div class="box-grid-icon-text__image">
					<img src="../../images/Nursery.svg" alt="">
				</div>

				<h3 class="box-grid-icon-text__title">Nursery</h3>

				<div class="box-grid-icon-text__content">
					<p>For infants from 6 weeks to 20 months, our purpose-built nursery is fully equipped with a hygienic nappy change area, kitchenette and Australian Standard Cots and is a safe, calm and comforting environment. We offer the experience, support and guidance your little one needs.</p>
				</div>
			</div>

			<div class="box-grid-icon-text__item">
				<div class="box-grid-icon-text__image">
					<img src="../../images/Toddler.svg" alt="">
				</div>

				<h3 class="box-grid-icon-text__title">Toddler</h3>

				<div class="box-grid-icon-text__content">
					<p>A room for our 2-year-olds. As your little one grows and begins to explore, their personalities starting to develop, we nurture them through toddlerhood with age appropriate experiences, as well as programs to encourage new skills and nutritious food to help them grow.</p>
				</div>
			</div>

			<div class="box-grid-icon-text__item">
				<div class="box-grid-icon-text__image">
					<img src="../../images/Pre-Kinder.svg" alt="">
				</div>

				<h3 class="box-grid-icon-text__title">Pre-Kinder</h3>

				<div class="box-grid-icon-text__content">
					<p>As your child reaches 3 years old, they will be introduced to new and exciting challenges and experiences, preparing them for kinder and eventually school. Our pre-kinder room offers structured curriculum and play, fostering early learning and building confidence and social skills.</p>
				</div>
			</div>

			<div class="box-grid-icon-text__item">
				<div class="box-grid-icon-text__image">
					<img src="../../images/Kinder.svg" alt="">
				</div>

				<h3 class="box-grid-icon-text__title">Kinder</h3>

				<div class="box-grid-icon-text__content">
					<p>Kindergarten is an exciting milestone for any 4 to 5-year-old. As their abilities and strengths are growing, they require more structured education to develop their social and learning skills. Our kinder room offers a government funded School-Readiness program to develop numeracy, literacy and writing skills.</p>
				</div>
			</div>
		</div>
	</div>
</div>
