<div class="box-location bg--blue">
	<div class="container">
		<h2 class="section-title">Location</h2>

		<div class="box-location__description text--large">
			<p>574 Springvale Rd, Springvale South 3172</p>
		</div>

		<div class="box-location__image">
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3145.007967291016!2d145.14449161584906!3d-37.976943379723096!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ad613503b3d3cf3%3A0x4bb14c3783bfa14a!2s574+Springvale+Rd%2C+Springvale+South+VIC+3172%2C+%C3%9Ac!5e0!3m2!1svi!2s!4v1559124960235!5m2!1svi!2s" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
		</div>
	</div>
</div>
